main#contact {
  display: grid;
  gap: 3rem;
  margin: 2rem 0.5rem 4rem;
  padding: 3rem 1rem;
  border: var(--border);
  background-color: var(--color-background);
  background-image: url(../imgs/booking_contact/bg-img.webp);
  background-size: auto 250px;
  background-repeat: no-repeat;
  background-position: top right;
  justify-self: center;
  overflow: hidden;
  .contact .deco-line {
    margin-block: 3rem;
  }
  p {
    max-width: 60ch;
  }
  .h4-size {
    font-size: 22px;
  }
  /****************** Booking *****************/
  .txt-box,
  .grid {
    display: grid;
  }
  .flex {
    display: flex;
  }
  .locations {
    gap: 1.5rem;
  }
  .booking {
    gap: 3rem;
  }
  .accordions {
    gap: 0.25rem;
  }
  .location-icon-brown {
    place-self: center;
    width: 35px;
  }
  .openinghours {
    justify-content: space-between;
  }
  .location-info {
    gap: 1.2rem;
    background-color: var(--color-panel-bg);
    border: 1px solid var(--brown15);
    padding: 0 0.5rem 1rem;
    .flex {
      gap: 0.5rem;
    }
    span.line {
      display: block;
      height: 1px;
      background-color: var(--brown70);
      margin-top: 4px;
    }
  }
  .open-maps {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--color-text);
  }
  .open-maps:hover {
    text-decoration: underline;
    color: var(--color-text);
  }
  p.navlink,
  .openinghours {
    margin-inline: 0.5rem;
  }
  p.navlink {
    margin-top: 1rem;
  }
  .txt-box {
    gap: 0.5rem;
  }

  /********************************* Accordion ***********************************/
  .accordion details summary::-webkit-details-marker {
    display: none;
  }
  .accordion details {
    background-color: var(--color-accordion-bg);
    transition: 300ms ease;
  }
  .accordion summary {
    display: flex;
    gap: 1rem;
    padding-inline: 1rem;
    height: 60px;
    align-items: center;
    background-color: var(--color-summary);
    transition: all 300ms ease;
    cursor: pointer;
    .h4-size {
      height: 35px;
      font-size: 20px;
      color: var(--color-text-inverted);
      font-family: var(--font-family-primary);
    }
  }

  details summary .chevron-icon {
    transition: all 300ms ease;
  }

  details[open] summary {
    background-color: var(--color-summary-open);
    .chevron-icon {
      rotate: 180deg;
    }
  }
  details[open] summary:hover,
  details summary:hover {
    background-color: var(--color-summary-hover);
  }
  .accordion-indhold {
    border: var(--details-border);
    /* background: url(../imgs/booking_contact/bg-img.webp) no-repeat right bottom;
    background-size: 40% auto; */
    padding-inline: 1rem;
    h4 {
      font-size: 20px;
      font-weight: var(--font-weight-bold);
      margin-bottom: 0.5rem;
    }
    a {
      color: var(--color-text);
    }
  }
  /************************ Contact ***********************/

  .contact {
    .line {
      margin-block: 3rem;
    }
    .txt-box {
      gap: 1rem;
    }
  }
  a.maillink {
    text-decoration: none;
    width: fit-content;
  }
  .mail-icon {
    display: block;
    padding: 9px;
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--color-text-inverted);
    align-content: center;
    text-align: center;
  }
  .mail-box {
    gap: 1rem;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    width: fit-content;
    border: 1px solid transparent;
    transition: all ease 0.3s;
    margin-top: 1rem;
  }
  .mail-box:hover {
    background-color: var(--brown30);
    .mail-icon {
      background-color: var(--yellow);
      color: var(--color-text);
    }
  }

  /************************** Form ***************************/
  .form-wrapper .h4-size {
    margin-bottom: 2rem;
  }

  form#contactform {
    gap: 0.5rem;
    label {
      color: var(--color-text);
      font-family: var(--font-family-primary);
      font-weight: var(--font-weight-bold);
      font-size: 18px;
    }

    input {
      border: 0;
      border-bottom: var(--border);
      width: 100%;
      padding: 0.5rem;
    }
    textarea {
      border: var(--border);
      width: 100%;
      padding: 0.5rem;
      background-color: rgba(64, 39, 4, 0.1);
    }
    #msg {
      min-height: 176px;
    }
    .form-group {
      accent-color: var(--color-panel-bg);
      min-height: 90px;
    }
    p.error-message {
      display: none;
      color: var(--error);
      font-size: 14px;
    }

    input:hover,
    textarea:hover {
      background-color: var(--form-hover);
    }
    input:focus-visible,
    textarea:focus-visible {
      background-color: var(--form-active);
      outline: none;
    }
    .form-group:has(:user-invalid) {
      input,
      textarea {
        outline: 1px solid var(--error);
        background-color: var(--form-error-bg);
        border: none;
      }
      .error-message {
        display: block;
      }
      span.star {
        color: var(--error);
      }
    }
  }

  .socialmedia-box {
    .h4-size {
      font-weight: var(--font-weight-bold);
      text-align: center;
      margin-bottom: 1.5rem;
    }
    .flex {
      justify-content: space-around;
    }
    #loop {
      position: relative;
      height: 1px;
    }
    #loop img {
      position: relative;
      top: -180px;
      left: -58px;
    }
    a {
      display: block;
      list-style: none;
      text-decoration: none;
      text-align: center;
      .sm {
        gap: 0;
      }
      span {
        background-color: var(--brown);
        padding: 0.3rem;
        justify-self: center;
        border-radius: 50%;
        transition: 0.3s ease;
      }
    }
    a:hover {
      span {
        background-color: var(--brown70);
      }
    }
  }
}
@media (min-width: 800px) {
  main#contact {
    background-size: auto 24%;
    padding-inline: 1.5rem;
    .deco-line {
      opacity: 0.1;
    }
    .locations,
    section.contact {
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
    }
    section.contact span#deco-line.deco-line {
      margin-block: 4rem;
      opacity: 0.3;
    }
    .accordion-indhold {
      background: url(../imgs/booking_contact/bg-img.webp) no-repeat right bottom;
      background-size: 40% auto;
    }

    p.navlink {
      font-size: 20px;
    }
    .form-wrapper {
      margin: 0;
      grid-row: 1/5;
      grid-column: 2/3;
    }
    .remove {
      display: none;
    }
  }
}
