/*************** VARIABLER **************/
:root {
  /***************** Colors *******************/
  --blue: #2a2f3d;
  --yellow: #f5bb23;
  --white: #f0f0f0;
  --brown: #402704;
  --beige: #f5e2c0;
  --lightbeige: #fef0e0;
  --lightbeige2nd: #ebe1d0;
  --error: #ff0000;
  /* Opacity variations */
  --yellow60: rgba(245, 186, 35, 0.6);
  --white15: rgba(240, 240, 240, 0.15);
  --white50: rgba(240, 240, 240, 0.5);
  --white80: rgba(240, 240, 240, 0.8);
  --beige90: rgba(245, 226, 192, 0.9);
  --brown10: rgba(64, 39, 4, 0.1);
  --lightbeige50: rgba(254, 240, 224, 0.5);
  --brown15: rgba(64, 39, 4, 0.15);
  --brown30: rgba(64, 39, 4, 0.3);
  --brown50: rgba(64, 39, 4, 0.5);
  --brown70: rgba(64, 39, 4, 0.7);
  --brown85: rgba(64, 39, 4, 0.85);
  --blue90: rgba(42, 47, 61, 0.9);
  --error10: rgba(255, 0, 0, 0.1);

  /* Tekst */
  --color-text: var(--brown);
  --color-text-inverted: var(--white);

  /* Baggrundsfarver */
  --color-background: var(--beige90);
  --color-background-mathilda: var(--beige);
  --color-panel-bg: var(--lightbeige);
  --color-menu-panel-bg: var(--lightbeige2nd);

  /* Buttons/Icons/Accordions etc */
  --color-btn: var(--yellow);
  --color-btn-border: 1px solid #bf8f1a;
  --color-btn-hover: var(--yellow60);
  --color-btn-active: var(--brown);

  --color-summary: var(--blue);
  --color-summary-hover: var(--blue90);
  --color-summary-open: var(--blue);
  --color-accordion-bg: var(--lightbeige50);
  --details-border: 1px solid var(--brown30);

  --form-hover: var(--brown15);
  --form-active: var(--brown30);
  --form-error-border: 1px solid var(--error);
  --form-error-bg: var(--error10);

  /* Header/footer */
  --color-headerfooter-bg: var(--blue);
  --color-mobilmenu-bg: var(--beige);

  /* Border */
  --border: 1px solid var(--brown);

  /***************** Fonts *******************/
  --font-family-h1: "Jacques Francois";
  --font-family-primary: "Kaisei Decol";
  --font-family-menu: "Almendra";

  --font-size-h1: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 26px;
  --font-size-h4: 22px;
  --font-size-navlink: 20px;
  --font-size-btn: 18px;
  --font-size-navlink18: 18px;
  --font-size-p: 16px;

  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /***************** Borders *******************/
  /***************** Margins *******************/
  /***************** Padding *******************/
}
