#menu {
  background-color: var(--color-background);
  /* border: var(--border); */
}
h5 {
  font-family: var(--font-family-menu);
  font-size: 50px;
  font-weight: 200;
  justify-self: center;
}
li.flex {
  display: flex;
  font-family: var(--font-family-menu);
  list-style: none;
  background: #ebe1d07e;
  /* padding-left: 100px; */
}
#topdown {
  padding-left: 10px;
}
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 5fr 0.1fr 3fr;
  gap: 20px;
  margin-bottom: 100px;
  .hc_leah {
    margin-top: 100px;
  }
  .intro {
    margin-top: 20px;
  }
}
.dropdown {
  justify-self: center;
  text-align: center;
  border: 1px solid black;
  color: var(--brown);
}
#drop_pil {
  justify-content: center;
}
details summary h5 {
  text-align: center;
}
.brunch_text {
  margin-bottom: 20px;
}
.grid_1-1 {
  background-image: url(/imgs/generel/menu/kopper.png);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}
.coffee {
  justify-items: center;
}
.flex {
  display: flex;
  width: 350px;
  .punktum {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: dotted 1.5px var(--brown);
    margin-bottom: 5px;
    margin-inline: 6px;
  }
}
.description {
  font-size: small;
}
.menu_text {
  font-family: var(--font-family-menu);
}
.flex_title {
  font-family: var(--font-family-menu);
  font-weight: 600;
  list-style: none;
}

.frame {
  background-color: var(--color-menu-panel-bg);
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
  margin-bottom: 100px;
}

/* button */
.cta-btn {
  display: block;
  height: 48px;
  /* min-width: 140px; */
  width: fit-content;
  padding-inline: 0.5rem;
  margin-inline: 0.5rem;
  border: var(--color-btn-border);
  background-color: var(--color-btn);
  color: var(--color-text);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-bold);
  text-align: center;
  place-content: center;
  text-decoration: none;
  transition: ease 0.3s;
  cursor: pointer;
}
.cta-btn:hover {
  padding-inline: 1rem;
  margin-inline: 0;
  background-color: var(--color-btn-hover);
}
.cta-btn:active {
  background-color: var(--color-btn-active);
  color: var(--color-text-inverted);
  padding-inline: 0.5rem;
  margin-inline: 0.5rem;
}
.visit_us {
  margin-bottom: 30px;
}

.menu_pic {
  width: 300px;
}

.menu_drop details summary::-webkit-details-marker {
  display: none;
}
/* .flex {
  display: flex;
} */
.menu_punkter {
  display: none;
}

details[open] summary {
  background-color: darkgray;
  .pil {
    rotate: 90deg;
  }
}
.vis {
  display: flex;
  .visit {
    width: 165px;
    margin-bottom: 20px;
  }
  .port_bag {
    transform: rotate(-6deg);
    z-index: 1;
    margin-left: 20px;
    position: relative;
    left: 20px;
  }
  .port_for {
    transform: rotate(6deg);
    z-index: 2;
    margin-right: 10px;
  }
}
/* .ring {
  position: absolute;
  width: 300px;
} */

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
  li.flex {
    font-family: var(--font-family-menu);
    list-style: none;
    padding-left: 20px;
    background: none;
  }
  .menu_punkter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
  }
  .menu_drop {
    display: none;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 2fr 0.7fr 1.5fr;
    margin-bottom: 30px;
  }

  .vis:hover img:first-child {
    animation: vest linear both;
    /* animation-timeline: view();
    animation-range: 10% 50%;
    rotate: -6deg; */
  }
  @keyframes vest {
    from {
      translate: -1vw -2vw;
    }
    to {
      translate: -1vw -3vw;
    }
  }
  .vis:hover img:last-child {
    animation: nord linear both;
    /* animation-timeline: view();
    animation-range: 10% 50% 100%;
    rotate: 6deg; */
  }
  @keyframes nord {
    from {
      translate: 1vw -2vw;
    }

    to {
      translate: 1vw -3vw;
    }
  }
}
